/*Basic Reset*/

body {
    font-family: 'helvetica', 'sans-serif';
    margin: 0;
}


h1, h2, h3, h4, h5 {
    line-height: 1.5;
    font-weight: 300;
    margin: 0.5em 0;
    color: White;
    font-weight: bold;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

p, label, strong {
    line-height: 2;
    font-size: 0.85em;
    font-weight: 300;
}



/*Navigation Bar*/

.flex-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding:0 10px;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #131313;
    padding: 5px 0;
    position: relative;
    border-bottom: 1px solid #FFB320;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

nav ul li {
    display: inline-block;
    font-size: 1em;
    margin: 0 18px;
}

nav ul li a {
    color: #EEE;
    font-weight: 600;
}

nav ul li a:hover {
    color: #FFB320;
}

.login-register-button {
    background-color: #FFB320;
    color: #131313;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 0.85em;
    font-weight: 600;
}

.flex-logo img {
    max-width: 100%;
    height: 60px;
    width: 90px;
}


/*Hero Styles*/
.exile-image  {  
    background: url('https://images2.alphacoders.com/935/thumb-1920-935974.jpg') top center no-repeat;
    background-size: cover;
    height: 820px;
    
}
    

.exile-marketing-text {
    max-width: 1200px;
    margin: -30px auto 0;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    padding: 0 20px;
}


.read-more{
    background-color: #FFB320;
    color: #131313;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 0.85em;
    font-weight: 600;
    
}

.exile-marketing-text .read-more button{
    background-color: #ff7c7c;
    border-radius: 20px;
    font-weight: bold;
    padding: 25px 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/*Latest-news*/

.latest-news .flex-container {
    justify-content: flex-start;
    max-width: 100%;
    padding: 0;
}

.latest-news .flex-container h5 {
    flex-basis: 25%;
    background-color: #FFB320;
    padding: 25px;
    margin: 0;
    text-align: right;
    color: #eee;
    font-size: 1.2em;
}

.latest-news-container {
    background-color: #131313;
    position: relative;
    flex-basis: 75%;
    padding: 31px;
}



.latest-news-text {
    color: white;
    font-weight: bold;
}

.latest-news-text .badge {
    color: white;
    font-weight: bold;
}


/*ASscendecy*/

.game-type-boxes {
    
    padding: 0;
    background: url(../img/shadow.jpg) top center no-repeat;
    background-size: cover;
    align-items: center;
    height:700px;
    background-size: 1700px 800px;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    
    
}

.flex-container-text h1 {
    text-align: center;
    margin-top: -4;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .read-more-ascendency {
    background-color: #FFB320;
    color: #131313;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 0.85em;
    font-weight: 600;
    margin-left: 650px;
}

/*Noticias*/

.flex-container-notices h1 {
    background-color:#f1fcfc;
    color: black;
    text-align: center;
    width: 400px;
    
}


.flex-container-notices {

min-width: 1400px;
height: 1000px;
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
flex-direction:row;
background: url(../img/wallpaper.jpg) top center no-repeat;
background-size: cover;
align-items: center;


}


.streamers img {
    width: 400px;
}

.streamers {
    
    width: 400px;
    margin-left: 50px;
    height: 830px;
    background-color: #f1fcfc;
    -webkit-border-radius: 3px solid black;
    -moz-border-radius: 3px solid black;
    -ms-border-radius: 3px solid black;
    -o-border-radius: 3px solid black;
}

.streamers p {
    text-align: center;
    margin: 15px;
    color: black;
}

.streamers a {
    background-color: #FFB320;
    padding: 15px;
    margin: 135px;
    left: 150px;
    color: #eee;
    font-size: 1.2em;
}


/*Tutorials*/

.tutorials  span{
    color: white;
    font-weight: bold;
    
}

.tutorials {
    width: 100%;
    height: 500px;
    background: url(../img/background2.jpg) top center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.tutorials img {
    padding: 0 40px 0;
    width: 60px;
    height: 60px;
    margin-top: 900px;
    padding-bottom: 50px;
}

