@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");
ul,
li,
a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  list-style: none;
  font-family: 'Sen', sans-serif;
}

/*Navigation Bar*/
.header__logo img {
  width: 100px;
  height: 70px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #231903;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #FFB320;
}

.header .header--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header--menu .header--item {
  padding: 0 20px;
}

.header .header--link:hover {
  color: #FFB320;
}

.header__buttonLogin {
  padding: 15px;
  background-color: #FFB320;
  border-radius: 200px;
}

/*Introduction*/
.figure {
  background: url(../img/wallpaperpoe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  margin: 0 auto;
}

.figure--title {
  color: #fafafa;
  font-size: 5em;
  text-align: center;
  margin-top: -0;
  font-family: 'Sen', sans-serif;
}

.figure__buttonRead {
  background-color: #FFB320;
  padding: 15px;
  border-radius: 2px;
  margin-left: 45%;
}

/*Ultimas Noticias*/
.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__lastNotices {
  width: 300px;
  background-color: #FFB320;
  font-family: 'Sen', sans-serif;
}

.section__boxNotices {
  padding: 0 20px;
  width: 100%;
  background-color: #000000;
  color: white;
  font-family: 'Sen', sans-serif;
}

/*League*/
.article {
  background: url(../img/delirium.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  margin: 0 auto;
}

.article__title {
  margin: 0 auto;
  text-align: center;
  padding: 100px;
  color: #2a7886;
  font-size: 4.50em;
  font-family: 'Sen', sans-serif;
}

.article__buttonRead {
  background-color: #FFB320;
  padding: 15px;
  border-radius: 2px;
  margin-left: 45%;
  font-family: 'Sen', sans-serif;
}

/*Cards*/
.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  margin: 0 auto;
}

.card {
  width: 20%;
  background-color: #EEE;
  border-radius: 5px;
  margin: 40px;
  color: #000000;
  height: 500px;
}

.image img {
  width: 100%;
  border-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card__title {
  text-align: center;
  font-family: 'Sen', sans-serif;
}

.card__buttonRead {
  text-align: center;
  color: #000000;
  background-color: #FFB320;
  padding: 8px;
  border-radius: 2px;
}

.desc {
  text-align: center;
}

/*Footer*/
.footer {
  background-color: #dbdbdb;
  margin-top: auto;
  padding: 16px;
  border: 1px solid #eee;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */
